/* common */
.ant-modal-content {
    padding: 0px !important;
    margin: 0 auto;
}
.ant-modal-footer {
    display: none;
}

/* web */
.web-modal .ant-modal-content {
    border-radius: 12px;
    width: 544px;
    padding: 32px !important;
}

.modal-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.ant-modal-content button {
    width: 100%;
}

/* mobile */
.mobile-modal .ant-modal-content {
    border-radius: 2px;
    width: 328px;
    padding: 32px 16px 16px !important;
}
